body {
	/*background: url(images/bg.jpg) repeat-x;*/
	background-color: #1c1c1c;
	margin: 0;
}

/*Footer*/
#footer {
	
}

#map{
	height: 200px;
	width : 200px;
}

/*Topbar*/
#topbar {
	float: center;
	text-align: center;
	font-size: 28px;
	color:#ff9900;
	height:40px;
	width: 100%;
	border-bottom: 1px solid #e7e7e7;
	position: fixed;
	background-color: #080808;
}

/*Top menu*/
#topmenu {
	list-style-type: none;
    margin-top: 40px;
	width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	position: fixed;
	border-bottom: 1px solid #e7e7e7;
}

#topmenu li{
	float: left;
	border-right: 1px solid #e7e7e7;
	display: inline;
}

#topmenu a{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#topmenu a.active {
    background-color: #aa7c00;
    color: white;
}

#topmenu a:hover:not(.active) {
    background-color: #555;
}

/*Side menu*/
#sidebar {
	list-style-type:none;
	margin-top: 87px;
	padding:0;
	width: 200px;
	height: 100%;
	overflow: auto;
	position: fixed;
	border-right: 1px solid #e7e7e7;
	background-color: #141414;
	
}

#sidebar li{
	text-align: left;
	margin-left: 20px;
    /*border-bottom: 1px solid #555;  viivat nappien väliin*/ 
}

#sidebar a{
	display: block;
	text-decoration:none;
	color: #d4ca40;
	padding: 8px 16px;
}

#sidebar:last-child {
    border-bottom: none;
}

#sidebar a:hover:not(.active){
	color: #d8d8d8;
	background-color: #786d49;
}

#mainpage {
	float: left;
	width: 900px;
	height: auto;
	padding: 9px 15px 0px 15px;
	margin: 100px 0px 0px 250px;
	color: #e7e7e7;
}

#mainpage p {
	line-height: 20px;
	margin: 10px 0px 22px 0px;
	text-align: justify;
}

#mainpage blockquote {
	background: #efefef;
	display:block;
	margin: 5px;
	font: Georgia;
	font-style: italic;
}

h1,h2,h3,h4,h5 {
	color: #ff9900;
	font-weight:bold;
	font-family: Arial;
}

#mainpage h1 {
	font-size: 24px;
	/*color:
	padding-top: 10px;
	padding-bottom:
	border-bottom: 1px solid #ff9900;
	*/
}

#mainpage h2 {
	font-size: 24px;
	/*color:
	padding-top: 10px;
	padding-bottom:
	border-bottom: 1px solid #ff9900;
	*/
}

table, th, td {
	border: 1px solid #ff9900;
	border-collapse: collapse;
	padding: 5px;
	text-align: center;
	
}

table#t1{
	width: 50%;
}

table#t1 th{
	border: 1px solid #0025aa;
	border-collapse: collapse;
	padding: 5px;
	text-align: center;	
}

table#t1 td{
	border: 1px solid #0025aa;
	border-collapse: collapse;
	padding: 5px;
	text-align: center;	
}

#DD {
    float: left;
    width: 256px;
    height: 256px;
    margin: 10px;
    padding: 10px;
	border: 1px solid black;
}
    

